<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Posts</ion-title>

    <ion-buttons slot="end">
      <ion-back-button default-href="#" title="Back to home"></ion-back-button>
    </ion-buttons>
    <!-- <ion-title>Back to home</ion-title> -->

  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <ion-header>
    <ion-toolbar>
      <ion-title size="large">Listado de Posts</ion-title>
    </ion-toolbar>
  </ion-header>

  
  <ion-spinner *ngIf="loading"></ion-spinner>
  <ion-card *ngFor="let post of posts">
    <ion-card-header>
      <ion-card-title>{{ post.title }}</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      {{ post.body }}
    </ion-card-content>
  </ion-card>


</ion-content>
