<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Blank
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Blank</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content class="ion-padding">
    <ion-list>
      <ion-item routerLink="/portfolio">Portfolio</ion-item>
      <ion-item routerLink="/contacto">Contacto</ion-item>
      <ion-item routerLink="/nosotros">Nosotros</ion-item>
    </ion-list>

    <ion-button (click)="obtenerUbicacion()">
    Obtener ubicación
    </ion-button>
    <p>
    Lat: {{ lat }} - Lng: {{ lng }}
    </p>
    <ion-button (click)="guardar()">
    Guardar dato
    </ion-button>
    <ion-button (click)="leer()">
    Leer dato
    </ion-button>
    <p>
    Valor: {{ dato }}
    </p>

    <br/>
    <ion-button (click)="capturarFoto()">
    Tomar foto
    </ion-button>
    
    <br/>

  </ion-content>

  <br/><br/><br/>

  <div id="container">
    <strong>Ready to create an app?</strong>
    <p>Start with Ionic <a target="_blank" rel="noopener noreferrer" href="https://ionicframework.com/docs/components">UI Components</a></p>
  </div>
</ion-content>
